.colorful-slider{
	width:6px;
	height:200px;
	border:1px solid #242424;
	position:relative;
	float:left;
	margin:20px 20px 0;

	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	}

	/* Three sider colors: */

.colorful-slider.orange{ background:url("../img/slider_orange_bg.png") repeat-y; }
.colorful-slider.green { background:url("../img/slider_green_bg.png" ) repeat-y; }
.colorful-slider.blue  { background:url("../img/slider_blue_bg.png"  ) repeat-y; }

.slider-handle{
	position:absolute;
	left:-11px;
	width:28px;
	height:12px;
	background:url("../img/slider_handle.png") no-repeat;
	cursor:n-resize;
	top:44%;
}	
